/*========== Start Variables ==========*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
    --header-height: 4.5rem;
    --main-color: hsl(343, 100%, 61%);
    --heading-color: hsl(343, 100%, 61%, 0.555);
    --headings-back: hsl(210, 5%, 93%);
    --sub-headings-back: hsl(0, 0%, 47%);
    --sub-heading: hsla(344, 52%, 30%, 0.555);
    --secondary-color: hsl(344, 51%, 30%);
    --section-background: hsl(0, 0%, 96%);

/*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Work Sans", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --title-size: 4rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --section-padding: 60px;
  --main-duration: 0.5s;

/*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;

/*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  }

@media screen and (min-width: 968px) {
    :root {
      --title-size: 7rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1rem;
      --normal-font-size: .9rem;
      --small-font-size: 0.875rem;
      --smaller-font-size: 0.813rem;
    }
  }
/*========== End Variables ==========*/

/*========== Start Global Rules ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    text-transform: capitalize;
  }
  ul {
    list-style: none;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: var(--body-font);
  }
  .container {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    overflow: hidden;
  }
  @media screen and (max-width: 370px) {

  }
  @media screen and (min-width: 576px) {
  
  }
  @media screen and (min-width: 767px) {
    .container {
      width: 750px;
    }
  }
  @media screen and (min-width: 767px) {
    .container {
      width: 970px;
    }
  }
  @media screen and (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .flex {
    position: relative;
    display: flex;
  }

/*========== End Global Rules ==========*/
/*========== Start Components ==========*/ 
  .special-heading {
    color: var(--headings-back);
    font-size: var(--title-size);
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
  }
  .special-heading + p {
    margin: -25px 0 0;
    font-size: 20px;
    text-align: center;
    color: var(--sub-headings-back);
  }
  @media (max-width: 767px) {
    .special-heading {
      font-size: var(--title-size);
    }
    .special-heading + p {
      margin-top: -20px;
    }
  }
  @media screen and (max-width: 370px) {

  }
  @media screen and (min-width: 576px) {
  
  }
  @media screen and (min-width: 767px) {
  }
  @media screen and (min-width: 1040px) {
  
  }
  /*========== End Components ==========*/
  /*========== Start Header ==========*/
  .header {
    height: calc(var(--header-height) + 1rem);
    padding-left: 1rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    z-index: var(--z-fixed);
    position: fixed;
    width: 100%;
    background-color: white;
  }
  .header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    width: 6.5rem;
    display: flex;
    align-items: center;
  }
  .header .logo img {
    width: 100%;
  }
  .header .links {
    position: absolute;
    right: 0;
  }
  .header .links .icon {
    display: none;
  }
  .header .links ul {
    position: relative;
    display: flex;
    list-style: none;
    gap: 3rem;
  }
  .header .links ul li a {
    text-decoration: none;
    color: #333;
    transition: var(--main-duration);
  }
  .header .links ul li a:hover {
    color: var(--main-color);
  }
  @media screen and (max-width: 767px) {
    .header {
      height: var(--header-height);
    }
    .header .links .icon {
      width: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    .header .links .icon span {
      background-color: #333;
      margin-bottom: 5px;
      height: 2px;
    }
    .header .links .icon span:first-child {
      width: 100%;
    }
    .header .links .icon span:nth-child(2) {
      width: 60%;
      transition: var(--main-duration);
    }
    .header .links .icon span:last-child {
      width: 100%;
    }
    .header .links:hover .icon span:nth-child(2) {
      width: 100%;
    }
    .header .links ul {
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      position: fixed;
      right: 3rem;
      min-width: 200px;
      top: 3.5rem;
      display: none;
      z-index: 10000;
    }
    .header .links:hover ul {
      display: block;
    }
    .header .links ul::before {
      content: "";
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #f6f6f6 transparent;
      position: absolute;
      right: 5px;
      top: -20px;
    }
    .header .links ul li a {
      z-index: 10000;
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #333;
      transition: var(--main-duration);
    }
    .header .links ul li a:hover {
      padding-left: 25px;
    }
    .header .links ul li:not(:last-child) a {
      border-bottom: 1px solid #ddd;
    }
  }

/*========== End Header ==========*/
/*========== Start Landing Section ==========*/
.landing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255,52,110, 0.6)), url(../images/back.jpg);
    width: 100%;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    display: flex;
    z-index: -1;
    justify-content: center;
    align-items: center;
  }
  .landing .intro-text {
    position: absolute;
    margin: auto;
    padding: 20px;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 400px;
    backdrop-filter: blur(15px);
  }
  .landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    color: var(--main-color);
  }
  .landing .intro-text p {
    font-size: var(--h2-font-size);
    line-height: 1.8;
    color: white;
  }
@media screen and (max-width: 370px) {

}
@media screen and (min-width: 576px) {

}
@media screen and (min-width: 767px) {
}
@media screen and (min-width: 1040px) {
  .landing .intro-text {
    width: 700px;
  }
  .landing .intro-text h1 {
    font-size: 3rem;
  }
  .landing .intro-text p {
    font-size: var(--h1-font-size);
  }
}
/*========== End Landing Section ==========*/
/*========== Start Features ==========*/
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
  }
  .features .container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
  .features .feat {
    margin: auto;
    width: 300px;
    padding: 20px;
    text-align: center;
  }
  .features .feat img {
    width: 60px;
  }
  .features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
  }
  .features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  @media screen and (max-width: 370px) {
  
  }
  @media screen and (min-width: 576px) {
  
  }
  @media screen and (min-width: 767px) {
    
  }
  @media screen and (min-width: 1040px) {

  }
/*========== End Features ==========*/
/*========== Start Services ==========*/
.services {
  width: 100%;
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 100px;
  padding-bottom: 100px;
}
.services .services-content .srv {
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 991px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 150px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 360px;
}

@media (max-width: 1199px) {
  .services .services-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .services .services-content .image::before {
    right: 40px;
    width: 50px;
    height: calc(100% + 150px);
  }
  .image-column {
    transform: translateX(50%);
  }
}
@media (max-width: 767px) {
  .services .services-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .image-column {
    transform: initial;
  }
  .col {
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  }
  .srv {
    width: 60%;
    margin: auto;
  }
}
/*========== End Services ==========*/
/*========== Start Portfolio ==========*/
.portfolio {
  width: 100%;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
  display: flex;
}
.portfolio .portfolio-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  width: 350px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.portfolio .portfolio-content .card img {
  width: 350px;
  height: 250px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 0;
}
@media screen and (max-width: 370px) {
  
}
@media screen and (min-width: 576px) {

}
@media screen and (min-width: 767px) {
}
@media screen and (min-width: 1040px) {

}
/*========== End Portfolio ==========*/
/*========== Start About ==========*/
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .text {
  width: calc(100% - 520px);
}

.about .about-content .image {
  position: relative;
  width: 450px;
  height: 375px;
}
@media (max-width: 1200px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -50px;
}
.about .about-content .image img {
  width: 400px;
}

.about .about-content .text {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .about .about-content {
    flex-direction: row;
    text-align: center;
  }
  .about .about-content .text {
    flex-basis: calc(100% - 520px);
    transform: translateX(-50px);
    margin-top: 0;
  }
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 1.25rem;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  margin-top: 1.25rem;
  line-height: 2;
  color: #777;
}
/*========== End About ==========*/
/*========== Start Contact ==========*/
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.contact .info .data {
  order: 1;
}
.contact .info .image img {
  width: 450px;
}
.contact .info .main {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
form {
  width: 500px;
  padding: 30px;
  border-radius: 8px;
  display: grid;
  background-color: #ebeced;
  text-align: left;
}
@media (max-width: 500px) {
  form {
  width: 350px;
}
}
form .input {
  padding: 1.25rem;
  border-radius: .25rem;
  border: none;
  outline-color: var(--main-color);
  padding-left: 20px;
}
form button {
  background-color: var(--main-color);
  color: white;
  font-size: var(--normal-font-size);
  border: none;
  padding: 1.25rem;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .contact .info .main {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  form {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .contact .info {
    flex-direction: row;
  }
  .contact .info .data {
    order: -1;
  }
}
/*========== End Contact ==========*/
/*========== Start Footer ==========*/
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 18px;
}
.footer .contain {
  display: grid;
  gap: 1rem;
}
.footer .logo {
  text-align: left;
  width: 450px;
}
.footer .logo a {
  display: inline-flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 800;
}
.footer .logo a img {
  margin-right: 1rem;
  width: 40px;
}
.footer .logo p {
  width: 350px;
  font-size: 16px;
  padding-left: 10px;
  line-height: 2;
}
.footer .logo .social {
  width: 350px;
  display: flex;
  padding-top: 1rem;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}
.footer .logo .social i {
  font-size: 25px;
}
.footer1 ul {
  display: flex;
  gap: 2rem; 
}
.footer1 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer1 ul li a {
  color: white;
}
.footer .info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .info .item {
  width: 350px;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 1rem;
}
.footer .info .item .circle {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 15px;
  margin-right: 1.25rem;
}
.footer .info .item i {
  font-size: 20px;
  color: var(--main-color);
}
.footer .info .item p {
  font-size: 16px;
  font-weight: 600;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer .copyright p {
  left: 0;
  right: 0;
  margin: auto;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/*========== End Footer ==========*/
@media screen and (min-width: 450px) {
  .footer .logo {
  width: 300px;
  }
  .footer .info .item {
  width: 300px;
}
   .footer1 ul {
    gap: 1rem;
  }
  .footer1 ul li a {
    font-size: var(--small-font-size);
  }
}
/* Medium */
@media screen and (min-width: 850px) {
  .footer .contain {
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
